@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    background-color: #030303;
    color-scheme: dark;
  }

  html,
  body,
  #root {
    min-height: 100%;
    min-height: 100dvh;
    min-height: -webkit-fill-available;
  }

  body {
    @apply antialiased bg-[#030303];
    overscroll-behavior-y: none;
  }
}

@layer utilities {
  .transition-transform {
    transition-property: transform;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
  }
}

@keyframes pattern {
  from {
    transform: translateX(0) translateY(0);
  }
  to {
    transform: translateX(-100%) translateY(-100%);
  }
}